.custom_tooltip {
  margin: 0;
  line-height: 24px;
  border: 1px solid #d0d0d0;
  background-color: rgba(255, 255, 255, 1.0);
  padding: 10px;
}

.introduction {
  border-top: 1px solid #f5f5f5;
  margin: 0;
}

.description {
  margin: 0;
  color: rgb(3, 62, 146)
}

.atcoder_gray {
  margin: 0;
  color: rgb(128, 128, 128)
}

.atcoder_brown {
  margin: 0;
  color: rgb(120, 67, 21)
}

.atcoder_green {
  margin: 0;
  color: rgb(53, 125, 34);
}

.atcoder_cyan {
  margin: 0;
  color: rgb(82, 189, 190)
}

.atcoder_blue {
  margin: 0;
  color: rgb(0, 24, 245)
}

.atcoder_yellow {
  margin: 0;
  color: rgb(192, 191, 61)
}

.atcoder_orange {
  margin: 0;
  color: rgb(240, 134, 51)
}

.atcoder_red {
  margin: 0;
  color: rgb(236, 51, 35)
}
